
@{
    ViewData["Title"] = "Media";
}

<h2>Media index</h2>

<a asp-controller="Files" asp-action="PictureIndex" class="btn btn-info" onclick="Pictures(0)">Pictures</a>
<a asp-controller="Files" asp-action="Index" class="btn btn-info" onclick="Videos(0)">Videos</a>
<a asp-controller="Files" asp-action="Index" class="btn btn-info" onclick="Measure(0)">Measurements</a>
