@model HipDronesProject.Data.Models.Picture

@{
    ViewData["Title"] = "PictureIndex";
}


<h2>Picture index</h2>











       
            <a asp-controller="Files" asp-action="Gallery" class="btn btn-info" onclick="Gallery(0)">Gallery</a>
            @*<a asp-controller="Files" asp-action="Details" class="btn btn-info" onclick="Details(0)">Details</a>*@
       

  
